<br>
  <div class="w3-container">
    <h2>Affiliation</h2>

    <table class="w3-table-all">
      <tr>
        <th>galactic_id</th>
        <th>affiliation_id</th>
        <th>affiliation</th>
        <th>
          <div class="search-container">
            <form action="#">
              <input type="text" placeholder="Search" name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </th>
      </tr>
      <tbody>
        {{#each affiliation_info}}
        <tr>
            <td>{{this.galactic_id}}</td>
            <td>{{this.id}}</td>
            <td>{{this.affiliation}}</td>
            <td>
                <button onclick="#" type="button"><i class="fa fa-trash"></i></button>
                <button onclick="#" type="button"><i class="fa fa-edit"></i></button>
            </td>
        </tr>
        {{/each}}
    </tbody>
    </table>
  </div>
  <br>
  <div class="w3-container form">
    <form class=" w3-card-4 w3-padding-16 w3-white" action="/affiliation"  method="POST">
      <div class="w3-section">
        <label>galactic_id</label>
        <input class="w3-input" type="number" name="galactic_id" required>
      </div>
      <select name="affiliation" id="row" required>
                  <option value="rebel">rebel</option>
                  <option value="empire">empire</option>
                  <option value="bounty_hunter">bounty hunter</option>
                  <option value="smuggler">smuggler</option>
                </select>
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
    </form>
  </div>