<br>
    <div class="w3-container">
      <h2>Drinks</h2>
      
        <table class="w3-table-all">
          <tr>
            <th>drink_id</th>
            <th>name</th>
            <th>size</th>
            <th>credits</th>
            <th>
              <div class="search-container">
                <form action="#">
                  <input type="text" placeholder="Search" name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </th>
          </tr>
      <tbody>
        {{#each drink_info}}
        <tr>
            <td>{{this.drink_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.size}}</td>
             <td>{{this.credits}}</td>
            <td>
                <button onclick="#" type="button"><i class="fa fa-trash"></i></button>
                <button onclick="#" type="button"><i class="fa fa-edit"></i></button>
            </td>
        </tr>
        {{/each}}
    </tbody>
        </table>
      </div>
      <br>
      <div class="w3-container form">
    <form class=" w3-card-4 w3-padding-16 w3-white" action="/drink" method="POST">
        <div class="w3-section">      
          <label>Order Number</label>
          <input class="w3-input" type="number" name="Name" required>
        </div>
        <div class="w3-section">      
          <label>Name</label>
          <input class="w3-input" type="text" name="Email" required>
        </div>
        <input class="w3-check" type="checkbox"  name="12oz">
        <label>12 oz</label>
        <input class="w3-check" type="checkbox"  name="12oz">
        <label>16 oz</label>
        <input class="w3-check" type="checkbox"  name="12oz">
        <label>20 oz</label>
        <div class="w3-section">      
          <label>price</label>
          <input class="w3-input" type="number" name="Message" required>
        </div>  
        <button type="submit" class="w3-button w3-right w3-theme">Send</button>
        <br>
        <br>
        </form>
        </div>