<div class="w3-container">
        <h1>Welcome to the Mos Eisley Database</h1>
        <p>Mos Eisley is one of the most popular cantina’s not only on Tatooine but the Outer Rim as well.
            As such a batabank (database) is required in order to keep track of the multitude of creatures that
            frequent the establishment. This can be tricky as the clientele are often… unsavory characters who
            have been known to skip town. The clientele base includes individuals from thousands of planets and a
            variety of species. The cantina conducts sales in excess of 90 million credits. A secure database is
            necessary to keep financial transactions away from imperial eyes.
            <br>
            <br>
            Mos Eisley's database is ment to solve this problem by keeping record customers tabs and identifiable
            information in case a debt must be collected.
        </p>
    </div>