 <br>
  <div class="w3-container">
    <h2>Orders</h2>
    <table class="w3-table-all">
      <tr>
        <th>order_number</th>
        <th>galactic_id</th>
        <th>items</th>
        <th>balance</th>
        <th>
          <div class="search-container">
            <form action="#">
              <input type="text" placeholder="Search" name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </th>
      </tr>
      <tr>
        <td>1440161</td>
        <td>500141205</td>
        <td>grog</td>
        <td>1000</td>
        <td>
          <button type="submit"><i class="fa fa-trash"></i></button>
          <button type="submit"><i class="fa fa-edit"></i></button>
        </td>
      </tr>
    </table>
  </div>

  <br>
  
  <div class="w3-container form">
    <form class=" w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Galactic ID's</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Items</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      <br>
      <br>
    </form>
  </div>