 <br>
  <div class="w3-container">
    <h2>Orders</h2>
    <table class="w3-table-all">
      <tr>
        <th>order_id</th>
        <th>balance</th>
        <th>
          <div class="search-container">
            <form action="#">
              <input type="text" placeholder="Search" name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </th>
      </tr>
      <tbody>
        {{#each order_info}}
        <tr>
            <td>{{this.order_id}}</td>
            <td>{{this.balance}}</td>
            <td>
                <button onclick="#" type="button"><i class="fa fa-trash"></i></button>
                <button onclick="#" type="button"><i class="fa fa-edit"></i></button>
            </td>
        </tr>
        {{/each}}
    </tbody>
    </table>
  </div>

  <br>
  
  <div class="w3-container form">
    <form class=" w3-card-4 w3-padding-16 w3-white" action="/order" method="POST">
      <div class="w3-section">
        <label>Galactic ID's</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Items</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      <br>
      <br>
    </form>
  </div>