<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Customers</title>
  <meta name="description" content="Home Page">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/~sanfojos/style.css">
  <link rel="stylesheet" href="/style.css">
</head>

<!-- Navbar -->

<div class="w3-bar w3-theme-d2 w3-left-align w3-light-grey">
  <a href="/~sanfojos/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Home</a>
  <a href="/~sanfojos/customer" class="w3-bar-item w3-button w3-hide-small ">Customers</a>
  <a href="/~sanfojos/customer_order" class="w3-bar-item w3-button w3-hide-small ">Customer_Orders</a>
  <a href="/~sanfojos/order" class="w3-bar-item w3-button w3-hide-small ">Orders</a>
  <a href="/~sanfojos/drink_order" class="w3-bar-item w3-button w3-hide-small ">Drink_Orders</a>
  <a href="/~sanfojos/drink" class="w3-bar-item w3-button w3-hide-small ">Drinks</a>
  <a href="/~sanfojos/affiliation" class="w3-bar-item w3-button w3-hide-small ">Affiliations</a>
</div>



<body>
  <br>
  <div class="w3-container">
    <h2>Customers</h2>
    <table class="w3-table-all">
      <tr>
        <th>customer_name</th>
        <th>galactic_id</th>
        <th>planet</th>
        <th>species</th>
        <th>bounty</th>
        <th>affiliation</th>
        <th>orders</th>
        <th>
          <div class="search-container">
            <form action="#">
              <input type="text" placeholder="Search" name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </th>
      </tr>
      <tr>
        <td>Han Solo</td>
        <td>510353510</td>
        <td>Hoth</td>
        <td>Humaniod</td>
        <td>10000</td>
        <td>affiliation</td>
        <td>orders</td>
        <td>
          <button type="submit"><i class="fa fa-trash"></i></button>
          <button type="submit"><i class="fa fa-edit"></i></button>
        </td>
      </tr>
    </table>
  </div>
  <br>
  <div class="w3-container form">
    <form class=" w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Planet</label>
        <input class="w3-input" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Species</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>
      <div class="w3-section">
        <label>Bounty</label>
        <input class="w3-input" type="number" name="Message" required>
      </div>
      <div class="w3-section">
        <label>Affiliation</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>
      <div class="w3-section">
        <label>Order</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      <br>
      <br>
    </form>
  </div>
</body>

</html>